<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>588119324500-m3dj5n2g0cbh7bsidfd277a1t6vsvvv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588119324500-m3dj5n2g0cbh7bsidfd277a1t6vsvvv5</string>
	<key>API_KEY</key>
	<string>AIzaSyAWZmbSoLGG5zlZGpGJ2Xqv5zcJfqDH2XY</string>
	<key>GCM_SENDER_ID</key>
	<string>588119324500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.punkypenguin.wooapp</string>
	<key>PROJECT_ID</key>
	<string>wooapp-1e234</string>
	<key>STORAGE_BUCKET</key>
	<string>wooapp-1e234.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588119324500:ios:d78048c807363480</string>
	<key>DATABASE_URL</key>
	<string>https://wooapp-1e234.firebaseio.com</string>
</dict>
</plist>